body{
    position: relative;
}

.wrapper{
    position: relative;
    width: 100%;
    min-width: $containerWidth + 20px;
    min-height: 100%;
    overflow: hidden;
}

.container{
    width: $containerWidth;
    margin: 0 auto;
    position: relative;
}