.button{
    font-size: 16px;
    font-weight: bold;
    padding: 18px 40px;
    text-transform: uppercase;
    border-radius: 100px;
    line-height: 1;
    transition: 0.5s;
    display: inline-block;
    border: none;
    cursor: pointer;

    &--red{
        background: #E01F3D;
        color: #fff;
    }

    &:hover {
        background: #ad0e26;
    }

    &--transparent{
        background: transparent;
        color: #fff;
        font-weight: 400;
        text-transform: none;
        &:hover{
            background: transparent;
            transform: scale(1.1);
            color: #E01F3D;
        }
    }
}