.form{
    display: flex;
    
}

.form__col{
    flex: 1;
    margin-right: 30px;

    &:last-child{
        margin-right: 0;
    }
}

.form__row{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 14px;
}

.form__block{
    flex: 1;
    margin-right: 15px;

    &:last-child{
        margin-right: 0;
    }
}

.form__input{
    width: 100%;
    border: none;
    padding: 18px 12px;
    border: solid 3px transparent;
    border-radius: 4px;

    &:focus{
        border-color: #E01F3D;
        outline: none;
    }

    &--textarea {
        min-width: 430px;
        height: 160px;
        resize: none;
        margin-bottom: 30px;
    }
}

.form__controls{
    display: flex;
    flex-wrap: wrap;

    &:last-child{
        margin-bottom: 20px;
    }
}







