.headline{
    text-align: center;
    margin-bottom: 60px;
}

.headline__title{
    margin-bottom: 12px;
}

.headline__subtitle{
    padding: 0 20%;
    font-weight: 400;
    font-size: 16px;
    color: #666666;
}