body{
    position: relative;
}

html{
    font-size: $baseFontSize;

    @include tablets{
        font-size: $baseFontSize - 1px;
    }

    @include phones{
        font-size: $baseFontSize - 2px;
    }
}

.wrapper{
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.container{
    width: 95%;
    max-width: $containerWidth;
    margin: 0 auto;
    position: relative;
}