@import url(../layout/base.css);
@import url(../layout/normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,700;1,400&family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,700;1,400&family=Open+Sans:wght@400;600;700&family=Play:wght@400;700&display=swap");
body {
  position: relative;
}

html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
}

.hero {
  background: url(../../img/hero-img1.svg) left 72% center no-repeat;
  background-color: #F5F5F5;
  color: rgb(0, 0, 0);
  height: 100vh;
  min-height: 36.1111111111rem;
  position: relative;
}
@media screen and (max-width: 768px) {
  .hero {
    background: url(../../img/hero-img1.svg) top 20% center no-repeat;
    background-size: 50%;
    background-color: #F5F5F5;
  }
}
@media screen and (max-width: 480px) {
  .hero {
    background-size: 70%;
  }
}
.hero::after {
  content: "";
  position: absolute;
  width: 2.5rem;
  height: 0.5555555556rem;
  background: #C4C4C4;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: -0.2777777778rem;
  right: 10%;
}
@media screen and (max-width: 768px) {
  .hero::after {
    display: none;
  }
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 1.3333333333rem 0 2.5rem 0;
}

.hero__title-section {
  width: 45%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-bottom: 18%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
  }
}

.hero__main-title {
  font-size: 2.6666666667rem;
  margin-bottom: 0.5555555556rem;
  line-height: 1.1;
  font-weight: bold;
  font-family: "Play";
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .hero__main-title {
    padding: 0 5%;
  }
}

.hero__title-desc {
  font-family: "Play";
  font-size: 1.1666666667rem;
  color: #292929;
  padding-right: 20%;
  margin-bottom: 1.6666666667rem;
}
@media screen and (max-width: 768px) {
  .hero__title-desc {
    padding: 0 25%;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-desc {
    padding: 0 14%;
    font-size: 1rem;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu {
  margin: 0 20px;
  padding-top: 0.2777777778rem;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__item {
  margin-right: 1.1111111111rem;
  margin-bottom: 0.5555555556rem;
}
.menu__item:last-child {
  margin-right: 0;
}

.phone-number.header__phone-number {
  padding-top: 0.3333333333rem;
}
@media screen and (max-width: 768px) {
  .phone-number.header__phone-number {
    display: none;
  }
}

.phone-number {
  font-size: 1rem;
  text-decoration: none;
  font-family: "Play";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone-number__icon {
  margin-right: 0.3333333333rem;
  height: 0.7777777778rem;
  width: 0.7777777778rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.phone-number__text {
  white-space: nowrap;
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  margin-right: 1.2222222222rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.features__item:last-child {
  margin-right: 0;
}

.feature__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 2.2222222222rem;
  margin-right: 0.8333333333rem;
}

.feature__text {
  font-family: "Play";
  font-size: 0.8888888889rem;
  max-width: 5.5555555556rem;
}

.button {
  font-size: 0.8888888889rem;
  font-weight: bold;
  padding: 1.1666666667rem 2.2777777778rem;
  text-transform: uppercase;
  border-radius: 5.5555555556rem;
  line-height: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: inline-block;
  border: none;
  cursor: pointer;
}
.button--red {
  background: #E01F3D;
  color: #fff;
}
.button:hover {
  background: #ad0e26;
}
.button--transparent {
  background: transparent;
  color: #fff;
  font-weight: 400;
  text-transform: none;
}
.button--transparent:hover {
  background: transparent;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #E01F3D;
}

.section {
  height: 100vh;
  min-height: 36.1111111111rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__title {
  font-family: "Play";
  font-weight: 700;
  font-size: 2.6666666667rem;
  text-transform: uppercase;
  margin-bottom: 1.9444444444rem;
  text-align: center;
}

.order-section {
  background: #181818;
  background: url(../../img/order-bg.svg) center center no-repeat;
  background-size: cover;
  color: #fff;
}

.headline {
  text-align: center;
  margin-bottom: 3.3333333333rem;
}

.headline__title {
  margin-bottom: 0.6666666667rem;
}

.headline__subtitle {
  font-family: "Play";
  padding: 0 20%;
  font-weight: 400;
  font-size: 0.8888888889rem;
  color: #666666;
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0px 7%;
  }
}

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #666;
}
@media screen and (max-width: 480px) {
  .benefits__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
  position: relative;
}
.benefits__item:before {
  content: url(../../img/decor/shape.svg);
  position: absolute;
  top: 2.2222222222rem;
  right: 0;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}
@media screen and (max-width: 768px) {
  .benefits__item:before {
    display: none;
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1.6666666667rem;
    padding: 0 0;
  }
}

.benefits-section:before {
  content: url(../../img/decor/triangle.svg);
  position: absolute;
  top: 104.7222222222rem;
  left: 10%;
}
@media screen and (max-width: 768px) {
  .benefits-section:before {
    display: none;
  }
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    text-align: start;
  }
}

.benefit__img {
  margin-bottom: 1.3888888889rem;
}
@media screen and (max-width: 480px) {
  .benefit__img {
    margin-bottom: 0;
    margin-right: 0.6666666667rem;
  }
}

.benefit__desc {
  font-family: "Play";
}

.benefit__img-wrapper {
  display: inline-block;
  width: 7.1111111111rem;
  height: 7.1111111111rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__icon {
  width: 3.8888888889rem;
  height: 3.8888888889rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefit__title {
  font-family: "Play";
  font-weight: 700;
  font-size: 1.3333333333rem;
  color: #292929;
  margin-bottom: 0.2777777778rem;
}

.reviews__display {
  padding: 2.7777777778rem 2.5rem 1.9444444444rem;
  background: #F8FAF9;
  margin-bottom: 1.1111111111rem;
  overflow: hidden;
  position: relative;
}
.reviews__display:before {
  content: "";
  display: block;
  width: 4.6666666667rem;
  height: 4.6666666667rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  top: -3.3333333333rem;
  z-index: 1;
}

.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.reviews__avatar {
  width: 14.1111111111rem;
  height: 14.6666666667rem;
  margin-right: 2.2222222222rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 7.2222222222rem;
    height: 7.2222222222rem;
    margin-right: 0;
  }
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.reviews__title {
  font-family: "Play";
  font-weight: 700;
  font-size: 1.3333333333rem;
  margin-bottom: 1.9444444444rem;
}

.reviews__text {
  font-family: "Play";
  font-weight: 400;
  max-width: 84%;
  font-size: 0.8888888889rem;
  color: #666666;
  margin-bottom: 2rem;
}
@media screen and (max-width: 768px) {
  .reviews__text {
    margin-right: 0;
    max-width: 100%;
  }
}

.reviews__author {
  font-family: "Play";
  font-weight: 700;
  font-size: 1rem;
  color: #292929;
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.interactive-avatar {
  width: 4.1111111111rem;
  height: 4.1111111111rem;
  border: 0.3333333333rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar--active {
  border-color: #E01F3D;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 17%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0 0;
  }
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.6666666667rem;
}
.form__col:last-child {
  margin-right: 0;
}
.form__col:last-child .form__row .form__block {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 0.7777777778rem;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 0.8333333333rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 1rem 0.6666666667rem;
  border: solid 0.1666666667rem transparent;
  border-radius: 0.2222222222rem;
}
.form__input:focus {
  border-color: #E01F3D;
  outline: none;
}
.form__input--textarea {
  height: 8.8888888889rem;
  resize: none;
  margin-bottom: 1.6666666667rem;
}
@media screen and (max-width: 768px) {
  .form__input--textarea {
    height: 4.4444444444rem;
    margin-right: 5.5555555556rem;
  }
}
@media screen and (max-width: 768px) {
  .form__input {
    padding: 0.4444444444rem 0.6666666667rem;
  }
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.form__controls:last-child {
  margin-bottom: 1.1111111111rem;
}
@media screen and (max-width: 768px) {
  .form__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px) {
  .form__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .form__buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 1.6666666667rem;
  margin-right: 1.2222222222rem;
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible:before {
  background: url(../../img/checkmark.svg) center center no-repeat;
}

.radio__title {
  font-family: "Play";
  font-weight: 400;
  font-size: 0.8888888889rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible:before {
  display: block;
}

.radio__visible {
  position: relative;
  width: 1.4444444444rem;
  height: 1.4444444444rem;
  border-radius: 50%;
  background: #fff;
  margin-right: 0.5555555556rem;
}
.radio__visible:before {
  content: "";
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  background: #E01F3D;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: 0.2777777778rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #E01F3D;
}
.fixed-menu__item--active .fixed-menu__link:before {
  background: #E01F3D;
}

.fixed-menu__link {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  background: #292929;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hamburger {
  width: 26px;
  height: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.hamburger__plank {
  display: block;
  background: #292929;
  height: 4px;
  border-radius: 10px;
}

.section.map-section {
  background: url(../../img/map.png) center center no-repeat;
  background-size: cover;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 480px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer {
  min-height: 4.7777777778rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media screen and (max-width: 768px) {
  .footer {
    min-height: 6.1111111111rem;
  }
}
@media screen and (max-width: 480px) {
  .footer {
    min-height: 8.3333333333rem;
  }
}

.socials {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.socials__item {
  margin-right: 0.5555555556rem;
}
.socials__item:last-child {
  margin-right: 0;
}

.socials__icon {
  width: 32px;
  height: 32px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  fill: #000;
}
.socials__icon:hover {
  fill: #B3B3B3;
}

.contacts {
  font-style: normal;
  font-family: "Play";
  font-size: 1.1666666667rem;
}
@media screen and (max-width: 480px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1rem;
  }
}

.contacts__place {
  margin-bottom: 12px;
}

.footer__phone-number {
  color: #E01F3D;
  margin-bottom: 12px;
}

.svg__icon {
  height: 40px;
}