
.benefits__list {
    display: flex;
    color: #666;
    @include phones{
      flex-direction: column;
  }
  }
  
  .benefits__item{
    flex: 1;
    padding: 0 3%;
    position: relative;

    &:before{
      content: url(../../img/decor/shape.svg);
      position: absolute;
      top: rem(40px);
      right: 0;
      transform: translate(50%, 50%);
      @include tablets{
        display: none;
    }
    }
  
    &:first-child{
      padding-left: 0;

    }

    &:last-child{
        padding-right: 0;
        &:before{
          display: none;
        }
    }

    @include phones{
      display: flex;
      align-items: center;
      margin-bottom: rem(30px);
      padding: 0 0;
  }
  
  }

  .benefits-section{
    &:before{
        content: url(../../img/decor/triangle.svg);
        position: absolute;
        top: rem(1885px);
        left: 10%;
    }

    @include tablets{
      &:before{
        display: none;
    }
  }
}