.footer__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include phones{
        flex-direction: column;

    }
}

.footer {
    min-height: rem(86px);
    display: flex;
    align-items: center;
    justify-content: space-around;

    @include tablets{
        min-height: rem(110px);

    }

    @include phones{
        min-height: rem(150px);

    }
}