.specifications {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .specifications__button {
    width: rem(90px);
    height: rem(90px);
    background: #9A9A9A;
    border-radius: rem(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    transition: .3s;
  }
  
  .specifications__button-icon {
    margin-bottom: rem(6px);
  }
  
  .specifications__button-icon-elem {
    width: rem(42px);
    height: rem(42px);
    display: block;
  }

  .specifications {

    &:hover {
      .specifications__button {
        background: #1a1a1a;
      }
      .specifications__dropdown {
        left: 100%;
        opacity: 1;
      }
    }
  }
  
  .specifications__dropdown {
    color: #2f3234;
    position: absolute;
    left: rem(-9999px);
    top: 0;
    width: rem(275px);
    background: rgba(241, 241, 241, 0.8);
    border-radius: rem(5px);
    padding: rem(26px) rem(12px) rem(26px) rem(35px);
    transition: opacity .3s;
    opacity: 0;
  
    &:after {
      content: "";
      position: absolute;
      top: 0;
      height: 50%;
      width: rem(30px);
      left: rem(-29px);
    }
  }
  
  .specifications__table {
    width: 100%;
  }
  
  .specifications__icon {
    width: rem(35px);
    height: rem(35px);
  }
  
  .specifications__table-row {
    border-bottom: rem(5px) solid transparent;
  
    &:last-child {
      border-bottom: 0;
    }
  }
  
  .specifications__text-container {
    padding-left: rem(10px);
  }
  
  .specifications__table-cell {
    vertical-align: middle;
  }
  
  .specifications__text {
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    font-size: rem(16px);
  }